<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your order # <%= @order.id %></h1>

    <table>
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>

        <% @order.line_items.each do |line| %>
          <% prod = Product.find(line.product_id) %>
          <tr>
            <td>

            </td>
            <td>
              <h4><%= prod.name %></h4>
              <p><%= prod.description %></p>
              <br>
            </td>
            <td>
              <%= prod.price %>
            </td>
            <td>
              <%= line.quantity %>
            </td>
            <td>
              <%= line.total_price_cents/100.00 %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <%= @order.total_cents/100.00 %>
          </th>
        </tr>
      </tfoot>
    </table>

  </body>
</html>